html{
    /* scroll-snap-type: y mandatory; */
}

.app{
    display: grid;
    place-items: center;
    background-color: black;
}
.app_vedios{
    position: relative;
    border-radius: 10px;
    height: 800px;
    width: 80%;
    max-width: 500px;
    overflow: scroll;
    scroll-snap-type: y mandatory;
}

.app_vedios::-webkit-scrollbar{
    display: none;
}
.app_vedios{
    -ms-overflow-style: none;
    scrollbar-width: none;    
}
